<!DOCTYPE html>
<html>
  <head>
    <title>Blogs</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Blogs</h1>
    <p>Welcome to Tadiwanashe Kunaka Blog</p>
  </body>
</html>
